<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h1><%= title %></h1>

      <a href="/dashboard<%= parentId ? '/' + parentId + '/create' : '/create' %>"
        >Add new folder</a
      >
      <a href="/dashboard<%= parentId ? '/' + parentId + '/upload' : '/upload' %>">Upload file</a>
      <ul>
        <% data.forEach(item => { %>
        <li>
          <% if (item.type === 'FILE') { %>
          <i class="fa-solid fa-file"></i>
          <% } %> <% if (item.type === 'FOLDER') { %>
          <i class="fa-solid fa-folder"></i>
          <% } %>
          <a
            href="<%= item.type === 'FOLDER' ? '/dashboard/' + item.id : item.url %>"
            target="<%= item.type ==='FILE' ? '_blank': '_parent' %>"
          >
            <%= item.name %>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
