<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h1><%= title %></h1>

      <!-- Simplified URLs for 'Add new folder' and 'Upload file' links -->
      <a href="/dashboard/<%= parentId ? parentId + '/' : '' %>create">Add new folder</a>
      <a href="/dashboard/<%= parentId ? parentId + '/' : '' %>upload">Upload file</a>

      <ul>
        <% data.forEach(item => { %>
        <li>
          <% if (item.type === 'FILE') { %>
          <i class="fa-solid fa-file"></i>
          <a href="<%= item.url %>" target="_blank"> <%= item.name %> </a>
          <a href="/dashboard/<%= item.id %>/download">download</a>
          <a href="/dashboard/<%= item.id %>/delete">remove</a>
          <% } else if (item.type === 'FOLDER') { %>
          <i class="fa-solid fa-folder"></i>
          <a href="/dashboard/<%= item.id %>"><%= item.name %></a>
          <a href="/dashboard/<%= item.id %>/edit">edit</a>
          <a href="/dashboard/<%= item.id %>/remove">remove</a>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
