<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %> <%- include("partials/share-popup") %>
    <main class="dash">
      <a href="/dashboard/<%= folderId ? folderId : '' %>">Go Back</a>
      <h1><%= title %></h1>

      <a href="/dashboard/<%= parentId ? parentId + '/' : '' %>create">Add new folder</a>
      <a href="/dashboard/<%= parentId ? parentId + '/' : '' %>upload">Upload file</a>

      <% if (data.length) { %> <%- include("partials/table") %> <% } else { %>
      <h2>No data, add new file or folder</h2>
      <% } %>
    </main>
    <%- include('partials/footer') %>
    <script src="/dash.js"></script>
  </body>
</html>
